In [86]:
import pandas as pd
import sys
import os
import csv

In [87]:
# first step 
# perl /home/rl44w/develop/script/gtf2anno_tab.pl gencode.vM21.annotation.gtf

In [92]:
genCode = pd.read_csv("/project/umw_mccb/genome/Mus_musculus_UCSC_mm10/gencode.vM21.annotation.txt.gz", 
                      sep="\t")
genCode.replace('"', '')
genCode.head()

                    Gene   Name            Type
0   ENSMUSG00000000001.4  Gnai3  protein_coding
1  ENSMUSG00000000003.15   Pbsn  protein_coding
2  ENSMUSG00000000028.15  Cdc45  protein_coding
3  ENSMUSG00000000031.16    H19         lincRNA
4  ENSMUSG00000000037.16  Scml2  protein_coding

In [93]:
te = pd.read_csv("../SalmonTE_output/clades.csv")
te["Type"] = te["clade"] + "; " + te["class"]
te = te.iloc[:, [0, 0, 3]]
te.columns = ["Gene", "Name", "Type"]
te.head()

     Gene    Name                           Type
0      B1      B1  SINE; Non-LTR Retrotransposon
1     B1F     B1F  SINE; Non-LTR Retrotransposon
2      B2      B2  SINE; Non-LTR Retrotransposon
3  BC1_Cp  BC1_Cp  SINE; Non-LTR Retrotransposon
4   BGLII   BGLII    ERV2; Endogenous Retrovirus

In [94]:
merged = genCode.append(te, ignore_index=True)
merged.head()

                    Gene   Name            Type
0   ENSMUSG00000000001.4  Gnai3  protein_coding
1  ENSMUSG00000000003.15   Pbsn  protein_coding
2  ENSMUSG00000000028.15  Cdc45  protein_coding
3  ENSMUSG00000000031.16    H19         lincRNA
4  ENSMUSG00000000037.16  Scml2  protein_coding

In [95]:
merged.tail()

          Gene     Name                         Type
55719    RMER2    RMER2  ERV1; Endogenous Retrovirus
55720  RMER20A  RMER20A  ERV2; Endogenous Retrovirus
55721  RMER21B  RMER21B  ERV1; Endogenous Retrovirus
55722   RMER6C   RMER6C  ERV2; Endogenous Retrovirus
55723   RMER6D   RMER6D  ERV2; Endogenous Retrovirus

In [96]:
merged.to_csv("merged.anno.txt", index=False, sep="\t", na_rep="NA")